li {
    list-style: none;
    min-width: 0;
}

.contents {
    display: flex;
}

.image-box img {
    width: 300px;
    height: auto;
    background: no-repeat;
}

.post-data {
    word-break: break-all;
    min-width: 200px;
    max-width: 850px;
}

.post-image img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.post-image-detail img {
    display: block;
    width: 100%;
    min-height: 300px;
    max-height: 850px;
    object-fit: contain;
}

.comment {
    width: 100%;
    height: 200px;
}

iframe {
    max-width: 100%;
}

.main {
    min-width: 500px;
}

.user-list {
    max-width: 350px;
}

.title {
    padding-top: 25px;
}